body{
    background: url("../img/fondo.jpg") fixed;
    background-size: cover;
    color: white;
}

@media (max-width: 600px) {

    body{
        background: url("../img/fondo_mov.jpg") fixed;
        /*background-size: cover;*/
        background-attachment:scroll;

    }
    body:after{
          content:"";
          position:fixed; /* stretch a fixed position to the whole screen */
          top:0;
          height:100vh; /* fix for mobile browser address bar appearing disappearing */
          left:0;
          right:0;
          z-index:-1; /* needed to keep in the background */
          background: url("../img/fondo_mov.jpg") center center;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
    }    
}

.padre-centrado{
  
}

.hijo-centrado {
   /* position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 50%;*/
    /*background-color: #ffffff;
    padding: 2px;
    opacity: 0.9;*/
}

 #myModal{
    color: black;

  }
.panel-default{
  color: black !important;
}
.panel>IMG{
  float: left;
}

@media (max-width: 600px) {
    .panel>IMG{
      float: none;
      display: block;
    }
}

form>h2{
  text-align: center;
}
/*
@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
*/