  body{
    background: url("../img/fondo.jpg") fixed;
    color: white;
  }

.padre-centrado{
  
}

.hijo-centrado {
   /* position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 50%;*/
    /*background-color: #ffffff;
    padding: 2px;
    opacity: 0.9;*/
}

 #myModal{
    color: black;

  }
.panel-default{
  color: black !important;
}
.panel>IMG{
  float: left;
}
form>h2{
  text-align: center;
}